@use "../settings" as *;



header {
    display: flex;    
    overflow: hidden;

    & .Menu-container { 
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
        background-color: $color-white !important;}
        position: fixed;

        & .menu-close ul {
            transform: translateX(-250px);
        }

        & .menu-open ul {
            transform: translateX(0);

        }

    & ul {
        display: flex;
        flex-direction: column;
        background: $color-white;
        width: 100%;
        border: 0px solid $color-black;
        color: $color-black;
        border: 1px solid $color-black;
        transition: 1s ease;
        z-index: 5;
        margin-top: 7px;




        & a {
            font-family: $font-body;
            color: $color-black;
            text-decoration: none;
            text-align: center;
            font-weight: bold;
            padding: 10px;
            transition: 0.3s ease;

                &:hover {
                background: $color-beige;
        }
        }
    }

    }




    & .banniere {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: 10px auto;
        text-align: center;
        color: $color-white;
        font-family: $font-title;
        font-size: 1.5rem;

        & .logo {
        background: url('../../assets/img/logo_rond2.png') center/cover;
        background-size: 180px;
        background-repeat: no-repeat;
        width:  80%;
        height: 120px;
        margin: 0px auto;

        }

        & .bannlogo {
            background: url(../../assets/img/LGardEduc-1-780x470.jpg) center/cover;
            background-position: 0px -25px;
            height: 200px;
            width: 100%;
        }

    }
    
}