@use "../settings" as *;


header {

    & .menu-open {

    }


    & .banniere {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-content: center;
        justify-content: center;
        margin: 10px auto;
        text-align: center;
        color: $color-white;
        font-family: $font-title;
        font-size: 1.8rem;

        & .logo {
        background: url('../../assets/img/logo_rond2.png') center;
        background-size: 300px;
        width:  80%;
        height: 200px;
        margin: 5px auto;

    }

    }
    
}