@use "./_settings" as *;
@use "./components/_header";
@use "./components/_dogCard";
@use "./components/resaCard";
@use "./components/_footer";
@use "./components/_loader";
@use "./components/serviceCard";
@use "./components/_dogModal";
@use "./components/_resaModal";
@use "./components/adminResaModal";
@use "./pages/index";
@use "./pages/auth";
@use "./pages/profil";
@use "./pages/contact";
@use "./pages/reservations";
@use "./pages/prestations";
@use "./pages/admin";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: $color-bg-page;
}