@use "./_settings" as *;
@use "./components/_header";
@use "./components/_service";
@use "./components/_dogCard";
@use "./components/_footer";
@use "./pages/index";
@use "./pages/auth";
@use "./pages/profil";
@use "./pages/contact";
@use "./pages/reservations";

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;

}

body {
    background: #f5ede0;
}

